

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(images/holy-bible.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: table;



}

.container {
    margin-top: 220px;


}

h1 {
    color: #4a4a4a;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 500%;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

p {
    color: #4a4a4a;
    font-family: Source Sans Pro;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;


}

@media( max-width: 768px ) {
    h1 {
        font-size: 300%;
    }

    p {
        font-size: 17px;
        letter-spacing: 10px;
    }
}