@import "tailwindcss";




html,
body {
 
  overflow-x: hidden;
  background-color: #0b0620;
  color: #a7a7a7;
  scroll-behavior: smooth;
}


@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@layer components {
  .gradient-title {
    background: linear-gradient(
      180deg,
      #fdfdfd 43.1%,
      rgba(253, 253, 253, 0) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-border {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* Border width */
    border-radius: 20px;
    background: linear-gradient(
      20deg,
      #fdfdfd 0%,
      rgba(253, 253, 253, 0) 100%
    ); /* Gradient colors */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      0deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(16, 11, 51, 0.7217480742296919) 23%,
      rgba(16, 11, 51, 0) 100%
    );
  }
  .gradient-sphere {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    filter: blur(200px);
  }
  .sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    top: -100px;
    left: 300px;
    animation: wander-left 10s ease-in-out infinite;
  }
  .sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    top: 100px;
    right: 300px;
    animation: wander-right 12s ease-in-out infinite;
  }
  /* tech stack */
  .about-gradient-sphere {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(200px);
  }
  .about-sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    bottom: 300px;
    right: 150px;
    animation: wander-left 10s ease-in-out infinite;
  }
  .about-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    bottom: 100px;
    right: 50px;
  }
}













  /* projects */
  .projects-gradient-sphere {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(150px);
  }
  .projects-sphere-1 {
    background: radial-gradient(circle, #1E2939, #1E2939);
    top: 300px;
    left: 50px;
  }
  .projects-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    top: 400px;
    left: 150px;
  }

/* carousel */
  .carousel-gradient-left-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }

  .carousel-gradient-right-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      -90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }